doctype html
html(lang='ru')
  head
    block meta
    title!=TITLE
    block css
    // Bootstrap Core CSS
    link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
    // Custom Fonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    |     
    link(href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    |     
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css', type='text/css')
    // Plugin CSS
    link(rel='stylesheet', href='css/animate.min.css', type='text/css')
    // Custom CSS
    link(rel='stylesheet', href='css/creative.css', type='text/css')
  body#page-top
    block navDescriptor
    block headerSubheader
    block arguments
    block portfolio
    block boomcall
    block portfolio2
    block boomcalculate
    block phase
    block faq
    block trust
    block boom
    block scripts
    block modalW
    block yaMap
    block yaCounter
    block errors
